[Unit]
Description=Startup service for docker-compose stack
After=network.target

[Service]
Type=idle
ExecStart=/var/tmp/start-app.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target