<div id="header-div">
    <div class="header-block">
        <div class="logo-block">
            <div class="logo-block-inner">
            <a href="https://www.epa.gov" class="header-logo-link header-logo"></a>
                <div class="header-title-abr">{{ titleAbr }}</div>
            </div>
            <div class="header-title" [ngStyle]="{'color':titleColor}">{{ title }}</div>
        </div>
        <div id="search-config-button">
            <button mat-button [matMenuTriggerFor]="settingsMenu" class="settings-block-button">...</button>
            <mat-menu #settingsMenu="matMenu" class="settings-link-block">
                <button mat-menu-item class="account config-item mbl-item" [routerLink]="['/account']">Account
                    <!-- <img class="header-icon icon-img" src="assets/images/user_icon_large.png" height="42" width="42"/> -->
                </button>
                <button mat-menu-item class="settings config-item mbl-item"  [routerLink]="['/configs']">Settings
                    <!-- <img class="header-icon" src="assets/images/header_settings.png"/> -->
                </button>
                <button mat-menu-item class="search config-item mbl-item">Search
                    <!-- <img class="header-icon" src="assets/images/header_search.png"/> -->
                </button>
                <button mat-menu-item class="help config-item mbl-item">Help
                    <!-- <img class="header-icon" src="assets/images/header_help.png"/> -->
                </button>
            </mat-menu>
        </div>
        <div id="search-config">
            <nav class="config-links">
                <div class="account config-item" [routerLink]="['/account']">
                    <img class="header-icon icon-img" src="assets/images/user_icon_large.png" height="42" width="42"/>
                </div>
                <div class="settings config-item" [routerLink]="['/configs']">
                    <img class="header-icon" src="assets/images/header_settings.png"/>
                </div>
                <div class="search config-item">
                    <img class="header-icon" src="assets/images/header_search.png"/>
                </div>                        
                <div class="help config-item">
                    <img class="header-icon" src="assets/images/header_help.png"/>
                </div>
            </nav>
        </div>
    </div>
    <div class="menu-block-icon">
        <button mat-button [matMenuTriggerFor]="linksLeft" class="menu-block-button">&#9776;</button>
        <mat-menu #linksLeft="matMenu" class="menu-link-block" panelClass="links-left-menu">
            <button mat-menu-item class="my-locations menu-link" [routerLink]="['/mylocations']">
                <div class="menu-div">
                    <!-- <img class="tab-icon" src="assets/images/tab_my_location_icon.png"/> -->
                    <span class="tab-title">My Locations</span>
                </div></button>
            <button mat-menu-item class=" compare menu-link"[routerLink]="['/comparelocations']">
                <div class="menu-div">
                    <!-- <img class="tab-icon" src="assets/images/tab_compare_icon.png"/> -->
                    <span class="tab-title">Compare</span>
                 </div>
            </button>
            <button mat-menu-item disabled class="notifications menu-link">
                <div class="menu-div">
                    <!-- <img class="tab-icon" src="assets/images/tab_notifications_icon.png"/> -->
                    <span class="tab-title">Notifications</span>
                </div>
            </button>
            <button mat-menu-item class="coordiantes menu-link">
                <div class="menu-div">
                    <!-- <img class="tab-icon" src="assets/images/tab_geo_coord_icon.png"/> -->
                    <span class="tab-title">Geographic Coordinates</span>
                </div>
            </button>
        </mat-menu>
    </div>
    <nav class="menu-block">
        <button mat-button class="my-locations menu-item" [routerLink]="['/mylocations']" routerLinkActive="selected-menu-item">
            <div class="menu-div">
                <img class="tab-icon" src="assets/images/tab_my_location_icon.png"/>
                <span class="tab-title">My Locations</span>
            </div>
        </button> 
        <button mat-button class="compare menu-item" [routerLink]="['/comparelocations']" routerLinkActive="selected-menu-item">
            <div class="menu-div">
                <img class="tab-icon" src="assets/images/tab_compare_icon.png"/>
                <span matBadge="{{compare_locations.length || ''}}" matBadgeColor="warn" class="tab-title">Compare</span>
            </div>
        </button>
        <button mat-button class="notifications menu-item" [routerLink]="['/notifications']" routerLinkActive="selected-menu-item">
            <div class="menu-div">
                <img class="tab-icon" src="assets/images/tab_notifications_icon.png"/>
                <span matBadge="{{new_notifications.length || ''}}" matBadgeColor="warn" class="tab-title">Notifications</span>
            </div>
        </button>
        <button mat-button class="coordinates menu-item" [routerLink]="['/coordinates']" routerLinkActive="selected-menu-item">
            <div class="menu-div">
                <img class="tab-icon" src="assets/images/tab_geo_coord_icon.png"/>
                <span class="tab-title">Geographic Coordinates</span>
            </div>
        </button>
    </nav>
</div>