
.full-display {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    background:rgba(255,255,255,0.4);
    left: 0;
    top: 0;
}

@media screen and (min-width:980px) {
    .session-timeout {
        width: 50%;
        left: 25%;
    }
}

@media screen and (max-width: 979px) and (min-width: 600px) {
    .session-timeout {
        width: 80%;
        left: 10%;
    }
}

@media screen and (max-width: 599px) {
    .session-timeout {
        padding: 5px;
        width: 100vw;
    }
}

.session-timeout {
    border: 1px solid #777777;
    background: white;
    display: inline-block;
    position: fixed;
    opacity: 1;
    text-align: center;

    min-width: 300px;
    top: 15%;
    border-radius: 5px;
}

.session-timeout-msg {
    padding: 30px;
}

.extend-session-button {
    font-weight: bolder;
    margin-bottom: 20px;
}