<div id="bottom-menu-bar">
  
  <!-- Data Type selection -->
  <div class="bottom-menu-title-block">
    <button mat-button [matMenuTriggerFor]="dataType" class="bottom-menu-title">Data Type</button>
    <mat-menu #dataType="matMenu" class="bottom-menu-link-block">
      <button mat-menu-item class="bottom-menu-link" [ngClass]="{'selected': data_type == 1}" (click)="dataTypeClick(1)" [routerLink]="['']">OLCI - Weekly </button>
      <button mat-menu-item class="bottom-menu-link" [ngClass]="{'selected': data_type == 2}" (click)="dataTypeClick(2)" [routerLink]="['']">OLCI - Daily</button>
    </mat-menu>
  </div>

  <!-- Reload data -->
  <div class="bottom-menu-title-block">
    <button mat-button class="bottom-menu-title" (click)="reloadClick()" [routerLink]="['']">Reload Data</button>
  </div>

  <!-- Upload CSV / batch feature -->
  <div class="bottom-menu-title-block">
    <button mat-button class="bottom-menu-title" (click)="openCsvDialog()" [routerLink]="['']">Upload CSV</button>
  </div>

  <!-- Waterbody Stats -->
  <div class="bottom-menu-title-block">
    <button mat-button class="bottom-menu-title" (click)="openCsvDialog()" [routerLink]="['/wbstats']">WB Stats</button>
  </div>

</div>
