
@media screen and (max-width: 499px)
{
  .bottom-menu-title {
    font-size: small;
    display: flex;
  }

}

#bottom-menu-bar {
  padding: 0 5%;
  text-align: center;
  width: 100%;
  position: relative;
  height: 100%;
  background: #205493;
}

.bottom-menu-title-block {
  float: left;
  width: 25%;
  height: 100%;
  display: block;
  align-items: center;
  transition: background-color 0.4s ease;
  text-decoration: none;
  color: white;
  margin: auto;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 500;
}
.bottom-menu-title-block:hover {
  cursor: pointer;
}
.bottom-menu-title-block:focus {
  outline: none;
}
.bottom-menu-title {
  color: white;
  font-weight: 500;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
.bottom-menu-title:active {
  box-shadow: none;
  border: none;
}
.bottom-menu-title:target {
  box-shadow: none;
  border: none;
}
.bottom-menu-title:hover {
  cursor: pointer;
  background-color: #0071bc;
}
.bottom-menu-link-block {
  /*background: #323a45;*/
  width: 100%;
}
.bottom-menu-link {
  color: white;
  text-decoration: none;
  width: 100%;
  font-weight: 400;
  border: none;
  background: transparent;
  box-shadow: none;
  align-items: stretch;
}

.bottom-menu-link:hover {
  text-decoration: underline;
}
