<button mat-button (click)="exit();" class="exit-button">X</button>

<mat-tab-group (selectedTabChange)="tabChange($event)" mat-stretch-tabs class="jobs_tab_group" #tabGroup>

	<!-- Request Data tab -->
	<mat-tab label="Request Data">
		<div class="request-data-div">
			<br><br>
			<p>
				Get the latest cyano concentrations for multiple locations of interest by uploading a CSV file of location coordinates.
			</p>
			<br>
			<ol class="batch-instruction-list">
				<li>
					Create a CSV file containing location coordinates datatypes. The CSV must contain the following headers: latitude, longitude, and type, where "latitude" and "longitude" must be in decimal format within CONUS and "type" is either "daily" or "weekly" (<a download="batch_template.csv" target="_blank" href="assets/batch_template.csv">Click to download an example CSV input file</a>).</li>
				<li>
					Click the "Start Request" button below and select the created CSV file. This will start the process of getting cyano concentrations for the locations in the uploaded CSV.
				</li>
				<li>
					Check the current request status and previous requests in the "Request History" tab.
				</li>
				<li>
					Once the request is complete, a spreadsheet of cyano concentrations for each location will be sent to your email. NOTE: Email may end up in your spam/junk folder.
				</li>
			</ol>
			<br>
			<input hidden #uploader type="file" accept=".csv" (change)="uploadFile($event)" />
			<button mat-raised-button color="primary" (click)="uploader.click()">Start Request</button>
			<br><br>
			<p>{{status}}</p><br>
			<div *ngIf="currentInputFilename">
				<p><b>Input Filename:</b> {{currentInputFilename}}</p>
				<p><b>Request Number:</b> {{currentJobStatus.job_num}}</p>
				<p><b>Request Status:</b> {{currentJobStatus.job_status}}</p>
				<div *ngIf="inProgressStates.includes(currentJobStatus.job_status)">
					<button mat-raised-button color="warn" (click)="cancelJob()">Cancel Request</button>
				</div>
			</div>
		</div>
	</mat-tab>

	<!-- Jobs/History tab -->
	<mat-tab label="Request History">
		<br><p>List of {{username}}'s request history</p><br>
		<div class="table-responsive">
			<mat-table #table [dataSource]="dataSource" matSort>
				<ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{column.value}}</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<!-- Displays "X" next to job to cancel if in an active state -->
						<mat-icon
							class="cancel-icon"
							*ngIf="column.id == 'jobStatus' && inProgressStates.includes(element[column.id])"
							(click)="cancelJob(element)"
						>
							clear
						</mat-icon>
						{{element[column.id]}}
					</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
		</div>
	</mat-tab>

</mat-tab-group>
