@media screen and (max-width: 980px) {
	.jobs_tab_group {
		width: 100vw;
	}
	.mat-column-numLocations, .mat-column-jobNum, .mat-column-jobStatus {
		/*max-width: 10%;*/
	}

	.mat-column-receivedDatetime, .mat-column-finishedDatetime {
		/*max-width: 15%;*/
	}
	.mat-table {
	  overflow-x: scroll;
	}

	.mat-cell,
	.mat-header-cell {
	  word-wrap: initial;
	  display: table-cell;
	  padding: 0px 10px;
	  line-break: unset;
	  width: 100%;
	  white-space: nowrap;
	  overflow: hidden;
	  vertical-align: middle;
	}

	.mat-row,
	.mat-header-row {
	  display: table-row;
	}
}

.jobs_tab_group {
	height: 100%;
	width: 100%;
}

.table-responsive {
	/*overflow-y: scroll;*/
	overflow: scroll;
	height: 80%;
	width: 100%;
}

.exit-button {
	float: right;
	font-size: x-large;
}

::ng-deep.mat-dialog-container {
	overflow: unset;
	height: unset;
}

.cancel-icon:hover {
	opacity: 1.0;
	cursor: pointer;
}

.cancel-icon {
	color: #EF0000;
	opacity: 0.6;
}

.mat-column-numLocations, .mat-column-jobNum, .mat-column-jobStatus {
	max-width: 10%;
}

.mat-column-receivedDatetime, .mat-column-finishedDatetime {
	max-width: 15%;
}

.mat-column-inputFile {
	max-width: 40%;
	word-break: break-all;
	padding: 0 2% 0 2%;
}
