<div class="location_block_0">
  <div class="location_exit_block">
    <button mat-button class="location_exit" [routerLink]="['']">x</button>
  </div>
  <div class="location_top_bar">
    <span *ngIf="new_notifications_counter > 0; then has_locations else no_locations"></span>
    <ng-template #no_locations>
        <div class="no_locations locations_count">No new notifications.</div>
      </ng-template>
    <ng-template #has_locations>
      <div class="location_sort">
        <mat-checkbox class="location_checked" [value]="show_checked" (change)="toggleChecked();" color="primary">Only show new notifications</mat-checkbox>
      </div>
      <div class="locations_count">{{ new_notifications_counter }} new notifications</div>
      <button class="mat-button clear-btn" (click)="clearNotifications();">Clear</button>
      <hr>
    </ng-template>
  </div>
  <ul class="location_list">
    <li
      class="location_li"
      (click)="notificationSelect(notification)"
      [ngClass]="notification[5]==1 ? 'new_notification' : 'old_notification'"
      *ngFor="let notification of new_notifications">
        <div class="notification_div">{{notification[3]}}</div>
        <div class="location_block_1">
          {{notification[2]}}<br>
          {{notification[4]}}<br>
        </div>
    </li>
  </ul>
</div>