bcrypt==3.2.0
cryptography==3.3.1
flask==1.1.2
flask-cors==3.0.9
flask-migrate==2.5.3
flask-restful==0.3.8
flask-sqlalchemy==2.4.4
mysqlclient==2.0.3
mysql-connector-python==8.0.22
pyjwt==2.0.0
python-dotenv==0.15.0
requests==2.25.1
simplejson==3.17.2