bcrypt==3.2.0
celery==5.2.2
cryptography==3.3.2
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.5.0
mysqlclient==2.0.3
mysql-connector-python==8.0.22
PyJWT==2.0.0
python-dotenv==0.15.0
redis==3.5.3
requests==2.25.1
simplejson==3.17.2