bcrypt==4.0.1
celery==5.3.1
cryptography==41.0.3
Flask==2.3.2
Flask-Cors==4.0.0
Flask-Migrate==4.0.4
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.0.5
mysqlclient==2.2.0
mysql-connector-python==8.0.33
PyJWT==2.7.0
python-dotenv==1.0.0
redis==5.0.1
requests==2.31.0
simplejson==3.19.1