@media screen and (min-width: 980px) {
	.comments-block {
		width: 50vw;
		height: 100%;
		background: white;
	}

	.comments-exit {
	    float: right;
	    font-size: x-large;
	    margin: 5px 10px;
	}

	.view-comments {
		margin: 5% 0 0 5%;
	}
}
@media screen and (max-width: 979px) and (min-width: 501px) {
	.comments-block {
		width: 50vw;
		height: 100%;
		background: white;
	}

	.comments-exit {
	    float: right;
	    font-size: x-large;
	    margin: 5px 10px;
	}

	.view-comments {
		margin: 5% 0 0 5%;
		width: 100vw;
	}

}
@media screen and (max-width: 500px) {
	.comments-block {
		width: 100vw;
		background: white;
	}

	.comments-exit {
	    float: right;
	    font-size: x-large;
    	margin: 4px 4px;
	}

	::ng-deep .view-comment-dialog {
		width: 90%;
		height: 80%;
		overflow-y: auto;
	}

	::ng-deep .add-comment-dialog {
		width: 90%;
		height: 80%;
		overflow-y: auto;
	}

	.view-comments {
		margin: 5% 0 0 5%;
		width: 100vw;
	}
}

.comments-title {
	padding: 5%;
}

.user-comments {
	padding-left: 1%;
	overflow-y: scroll;
	height: 60%;
}

.comment-li {
  display: flex;
  flex-direction: row;
  border-bottom: darkgray 1px solid;
}

.comment-li:hover {
  background: lightblue;
  cursor: pointer;
}

.comment-item-left, .comment-item-right {
	display: inline-block;
}

.add-comment-btn {
	margin: 5% 0 5% 5%;
}

.comment-content {
	margin-top: 2%;
}

.comment-body {
	padding-top: 1%;
}

.add-comments-box {
	display: flex;
	flex-direction: column;
	padding: 5% 0 0 5%;
}

.view-comments-box {
	border-bottom: darkgray 1px solid;
}

.comment-input {
	width: 80%;
}

.comment-textarea {
	width: 80%;
}

.comment-textarea textarea {
	height: 6em;
}

.comment-replies {

}

.reply-controls {
	margin-top: 5%;
}

.add-reply-btn {

}

.reply-li {
  display: flex;
  flex-direction: row;
  margin: 2%;
  border-bottom: darkgray 1px solid;
}

.mat_icon {

}

.mat_icon:hover {
  color: gray;
  cursor: pointer;
}

.uploaded-image {
	max-height: 20%;
	max-width: 20%;
	padding: 1%;
	float: left;
}

.uploaded-image-div {
	float: left;
}

.view-uploaded-image {
	max-height: 40%;
	max-width: 40%;
	padding: 1%;
}

.view-uploaded-image:hover {
	cursor: pointer;
}