.locations-block {
	width: 30vw;
	height: 100%;
	background: white;
}

.locations-title {
	padding: 5%;
}

.user-locations {
	padding-left: 1%;
	overflow-y: scroll;
	height: 60%;
}

.location-li {
  display: flex;
  flex-direction: row;
  border-bottom: darkgray 1px solid;
}

.location-li:hover {
  background: lightblue;
  cursor: pointer;
}

.location-item-left, .location-item-right {
	display: inline-block;
}

.locations-exit {
    float: right;
    font-size: x-large;
    margin: 5px 10px;
}

.add-location-btn {
	margin: 5% 0 5% 5%;
}

.location-content {
	margin-top: 2%;
}

.location-body {
	padding-top: 1%;
}

.add-locations-box {
	display: flex;
	flex-direction: column;
	padding: 5% 0 0 5%;
}

.view-locations {
	margin: 5% 0 0 5%;
}

.view-locations-box {
	border-bottom: darkgray 1px solid;
}

.location-input {
	width: 80%;
}

.location-textarea {
	width: 80%;
}

.location-textarea textarea {
	height: 6em;
}