<div class="location_block_0">
  <div class="location_exit_block">
    <button mat-button class="location_exit" [routerLink]="['']">X</button>
  </div>
  <div class="location_top_bar">
    <span *ngIf="hasLocations(); then has_locations else no_locations"></span>
    <ng-template #no_locations>
        <div class="no_locations location_count">No locations currently saved. Click on the map to save a locaiton.</div>
      </ng-template>
    <ng-template #has_locations>
      <div class="location_sort">
        <mat-form-field>
          <mat-select aria-label="Sort locations" (selectionChange)="sortLocations();" [(ngModel)]="selected_value">
            <mat-option *ngFor="let sort of sort_selection" [value]="sort.value">{{sort.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox class="location_checked" [value]="show_checked" (change)="toggleChecked();" color="primary">Show checked locations</mat-checkbox>
      </div>
      <div class="location_count">{{ sorted_locations.length }} locations</div>
    </ng-template>
  </div>
  <ul class="location_list">
    <li *ngFor="let location of sorted_locations" class="location_li" (click)="locationSelect($event, location)">
      <div class="location_name">{{location.name}}</div>
      <div class="left_block">
        <div class="location_block_1">
          <div class="location_coord">
            {{location.latitude_deg}}&deg;{{location.latitude_min}}'{{location.latitude_sec}}"{{location.latitude_dir}},
            {{location.longitude_deg}}&deg;{{location.longitude_min}}'{{location.longitude_sec}}"{{location.longitude_dir}}
          </div>
          <div class="location_max">(Max adjacent cells: {{formatNumber(location.maxCellConcentration)}})</div>
          <mat-icon class="alert" *ngIf="exceedAlertValue(location)">error_outline</mat-icon>
          <br>
          <!-- <mat-icon class="wb-icon" *ngIf="location.waterbody.objectid" (click)="viewWaterbodyStats(location);$event.stopPropagation();">travel_explore</mat-icon> -->
          <mat-icon class="wb-icon" *ngIf="location.waterbody.objectid" (click)="this.waterbodyStats.handleWaterbodySelect(location.waterbody);$event.stopPropagation();">travel_explore</mat-icon>
        </div>
        <div class="location_block_1">
          <div class="location_cell">
            <app-meter [location]="location"></app-meter>
          </div>
        </div>
      </div>
      <div class="right_block">
        <div class="location_block_1">
          <div class="location_trend">
            <div class="arrow_block">
              <div *ngIf="getArrow(location); then location_up else location_down"></div>
              <ng-template #location_up>
                <div [ngClass]="['location_arrow_img', 'arrow_up', getArrowColor(location, true)]"></div>
              </ng-template>
              <ng-template #location_down>
                <div [ngClass]="['location_arrow_img', 'arrow_down', getArrowColor(location, true)]"></div>
              </ng-template>
              <!-- <div class="location_cellChange" [style.color]="getColor(location, true)">{{formatNumber(location.concentrationChange)}}</div> -->
              <div class="location_cellChange">{{formatNumber(location.concentrationChange)}}</div>
            </div>
            <div class="location_cellDescript">cells/mL</div>
            <div class="location_date_since">since {{location.changeDate}}</div>
            <div class="location_date">Date: {{location.dataDate}}</div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
